body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0b1623;
  color: #dce6f2;
  scroll-behavior: smooth;
}
.section {
  padding: 4rem;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 16rem;
}
.section-home {
  padding: 4rem 2rem;
  padding-top: 8rem;
  scroll-margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 4rem;
  color: #4fffb0;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1.25rem;
}

/* nav bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #0b1623;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  z-index: 1000;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0 2rem;
}
.navbar a {
  text-decoration: none;
  color: #dce6f2;
  font-weight: bold;
}
.navbar a:hover {
  color: #4fffb0;
}

/* home section */
.home-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 56px;
}
.home-text {
  flex: 2;
  width: 100%;
  max-width: 500px;
  margin-right: 80px;
}
.home-image img {
  width: 280px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* curiosity section */
.curiosity-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.curiosity-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
}
.curiosity-class {
  background: none;
  border: none;
  text-align: left;
  font-size: 1rem;
  color: #dce6f2;
  cursor: pointer;
  padding: 0.5rem 0;
  border-left: 10px solid transparent;
  transition: all 0.3s ease;
}
.curiosity-class:hover {
  color: #4fffb0;
}
.curiosity-class.active {
  color: #4fffb0;
  border-left: 3px solid #4fffb0;
  font-weight: bold;
  padding-left: 0.5rem;
}
.curiosity-content {
  flex: 1;
  max-width: 800px;
}
.curiosity-pane {
  display: none;
}

/* project section */
.project-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.project-class {
  background-color: #1e2a3a;
  color: #dce6f2;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
}
.project-class:hover {
 color: #4fffb0;
}
.project-class.active {
  color: #4fffb0;
  border-bottom: 2px solid;
}
.project-pane {
  margin-top: 1.5rem;
  display: none;
}
.project-detail {
  font-style: italic;
  color: #acacac;
  font-weight: normal;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.project-image {
  margin-top: 1rem;
  width: 100%;
  max-width: 800px;
  border-radius: 0.75rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

/* hyperlinks */
.orchestra-link:link,
.orchestra-link:visited {
  color: #4fffb0;
  text-decoration: underline;
  cursor: pointer;
}
.orchestra-link:hover {
  color: #38e4a1;
  text-decoration: none;
  border-radius: 4px;
  padding: 2px 4px;
  transition: all 0.2s ease;
}
.orchestra-link:active {
  color: #2fb88a;
}